.header-container
{
    display: flex;
    height: 50px;
    border-bottom-left-radius: 10px;
    padding: 6px;
    background-color: var(--color-medium);
}

.header-logo
{
    font-weight: bold;
    font-size: 20px;
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;
}


.header-cart
{
    position: fixed;
    width: 70px;
    height: 70px;
    bottom: 45px;
    left: 45px;
    font-weight: bold;
    font-size: 20px;
    background: var(--color-medium);
    border-radius: 70px;
    transition: 0.2s;
    z-index: 2;
}

.header-cart:hover
{
    background: var(--linear-gradient);
    transition: 0.2s;
    cursor: pointer;
}

.header-cart__img
{
    width: 40px;
    height: 40px;
    margin-top: 15px;
    margin-left: 14px;
    filter: contrast(0.5);
}

.header-cart__count
{
    position: fixed;
    width: 20px;
    height: 20px;
    font-size: 13px;
    color: white;
    text-align: center;
    background-color: red;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 1000px)
{
    .header-cart
{
    position: fixed;
    width: 70px;
    height: 70px;
    bottom: 10px;
    left: 10px;
    font-weight: bold;
    font-size: 20px;
    background: var(--color-medium);
    border-radius: 70px;
    transition: 0.2s;
    z-index: 2;
}
}
